* {
  padding: 0;
  border: 0;
  margin: 0;
  font-size: 0;
}

html {
  font-size: 72px;
  -webkit-font-smoothing: antialiased;
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 64px;
  }
}

@media only screen and (max-width: 560px) {
  html {
    font-size: 11vw;
  }
}
/*@media only screen and (max-width: 470px) {
  html {
    font-size: 44px;
  }
}
@media only screen and (max-width: 400px) {
  html {
    font-size: 36px;
  }
}
@media only screen and (max-width: 350px) {
  html {
    font-size: 28px;
  }
}*/

html, body {
  width: 100%;
  min-height: 100%;
}

a {
  text-decoration: none;
}

div#app {
  width: 100%;
  min-height: 100%;
}
