{
  "sourceMaps": true,
  "comments": false,
  "presets": [
    "latest"
  ],
  "plugins": [
    "transform-react-jsx",
    "transform-class-properties",
    "transform-export-extensions",
    [
      "transform-object-rest-spread",
      {
        "useBuiltIns": true
      }
    ]
  ]
}