main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(170deg, #ffafc9 0%, #ffafc9 59.98%, #FFC7DA 59.99%, transparent 60%, transparent 100%);
  background-position: 0 100%;
  background-repeat: no-repeat;
}

div.itemlistbox {
  margin: 0 auto;
}
